
  <footer role="contentinfo">
    <div class="footer background--great-blue soft--top">
        <div class="outer-container">
          <div class="footer-section">
            <div class="col-8">
              <a href="https://www.exportingisgreat.gov.uk/" title="Go to the Exporting is Great homepage">
                <img src="{{assets}}/img/EiG-logo-stacked.svg" alt="Exporting is Great logo" class="footer-logo">
              </a>
            </div>

            <div class="col-4">
              <ul class="footer-links footer-links--border">
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/new/" title="New to exporting">New to exporting</a></li>
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/occasional/" title="Occasional exporter">Occasional exporter</a></li>
                <li><a href="https://www.exportingisgreat.gov.uk/regular/" title="Regular exporter">Regular exporter</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-section footer-section-right">

            <div class="col-6">
              <ul class="footer-links footer-middle-section">
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/opportunities" title="Export opportunities">Export opportunities</a></li>
                <li class="push-half--bottom"><a href="https://find-a-buyer.export.great.gov.uk/" title="Find a buyer">Find a buyer</a></li>
                <li class="push-half--bottom"><a href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas">Selling online overseas</a></li>
                <li class="push-half--bottom"><a href="" title="UK Export Finance">UK Export Finance</a></li>
                <li class=""><a href="https://events.trade.gov.uk/" title="Exporting Events">Events</a></li>
              </ul>
            </div>

            <div class="col-6">
              <ul class="footer-links footer-links--border">
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/about/" title="About">About</a></li>
                <li class="push-half--bottom"><a href="https://contact-us.export.great.gov.uk/selling_online_overseas" title="Contact us">Contact us</a></li>
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/privacy-and-cookies/" title="Privacy and Cookies">Privacy &amp; cookies</a></li>
                <li class="push-half--bottom"><a href="https://www.exportingisgreat.gov.uk/terms-and-conditions/" title="Terms and conditions">Terms &amp; conditions</a></li>
                <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade" title="Department for International Trade">Department for International Trade</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="outer-container">
          <div class="footer-bottom">
            <div class="navigation-strip">
              <ul class="list-inline list-separators">
                <li class="float--left soft--right"><a class="logo-hmg" href="https://www.gov.uk/" title="hm government"><img src="{{assets}}/img/HM_Government_logo_horizontal.svg"></a></li>
                <li class="float--left soft--left footer-links--border"><a class="link--grey"  href="https://www.exportingisgreat.gov.uk/" title="part of great.gov.uk">Part of <strong>great.gov.uk</strong></a></li>
              </ul>
            </div>
            <div class="footer-copy font-light-grey font-xsmall">
              <p>&copy Crown copyright 2017. All rights reserved.</p>
            </div>
          </div>
        </div>
    </div>
  </footer>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="{{assets}}vendor/js/jquery.js"></script>
  <!--[if IE 8]>
  <script type="text/javascript" src="{{assets}}vendor/js/selectivizr.js"></script>
  <![endif]-->
  <script src="{{assets}}js/navigation.js"></script>
  <script src="js/ie8.js"></script>